In [ ]:
#lacuna-Malaria assignment

In [1]:
# data manipulation
import pandas as pd
import numpy as np

#data visualisation
import matplotlib.pyplot as plt
import seaborn as sns

# model development
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model #for regression
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split #training and testing

from sklearn.preprocessing import StandardScaler, LabelEncoder #preprocessing

# feature engineering
from sklearn.decomposition import PCA

# model evaluation
from sklearn import metrics
from sklearn.metrics import mean_squared_error

import warnings
warnings.filterwarnings("ignore")

In [ ]:
loading the data

In [2]:
train_data = pd.read_csv("Train.csv")
test_data = pd.read_csv("Test.csv")

In [3]:
train_data.head()

            Image_ID        class  confidence  ymin  xmin  ymax  xmax
0  id_u3q6jdck4j.jpg  Trophozoite         1.0   712  1241   737  1270
1  id_a6cl90trri.jpg  Trophozoite         1.0   558  1566   600  1604
2  id_qvc2le9sm8.jpg  Trophozoite         1.0  1317  2788  1448  2914
3  id_w8xnbd5rvm.jpg  Trophozoite         1.0   925  1744  1041  1823
4  id_6dop09rk02.jpg          NEG         1.0     0     0     0     0

In [4]:
test_data.head()

            Image_ID  class  confidence  ymin  xmin  ymax  xmax
0  id_5n9ov0rr22.jpg    NaN         NaN   NaN   NaN   NaN   NaN
1  id_k6s11k3klo.jpg    NaN         NaN   NaN   NaN   NaN   NaN
2  id_eftvcf9djb.jpg    NaN         NaN   NaN   NaN   NaN   NaN
3  id_kc5tmoj1xa.jpg    NaN         NaN   NaN   NaN   NaN   NaN
4  id_tirid4qt68.jpg    NaN         NaN   NaN   NaN   NaN   NaN

In [5]:
train_data.shape

(23530, 7)